PROJECT_NAME=civilenwebapp
PROJECT_VERSION=1.0.0
PROJECT_DESCRIPTION="civilenwebapp is a web application for civil engineering"
PROJECT_ENVIRONMENT=development #  (production, development)

BACKEND_CORS_ORIGINS=["http://localhost:8000","https://localhost:8000","http://localhost","https://localhost"]

DB_DATABASE=civilenwebapp
DB_USER=civilendbuser
DB_PASSWORD=super_secret_password
DB_PORT=5432
DB_HOST=database

SP_API_REFRESH_TOKEN=your_refresh_token
SP_API_LWA_APP_ID=your_lwa_app_id
SP_API_LWA_CLIENT_SECRET=your_lwa_client_secret
SP_API_AWS_SECRET_KEY=your_aws_secret_key
SP_API_AWS_ACCESS_KEY=your_aws_access_key
SP_API_ROLE_ARN=your_role_arn
SP_API_SELLER_ID=your_seller_id

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key

DOMAIN_NAME=your_domain

AUTH_SECRET_KEY=your_auth_secret_key

EMAIL_SERVICE_URL=your_email_service_url
EMAIL_SERVICE_ID=your_email_service_id
EMAIL_SERVICE_TEMPLATE_ID=your_email_service_template_id
EMAIL_SERVICE_USER_ID=your_email_service_user_id

SHIPBOB_API_EMAIL=your_shipbob_api_email
SHIPBOB_API_TOKEN_ID=your_shipbob_api_token_id
SHIPBOB_API_TOKEN=your_shipbob_api_token